# 1. Import Library

In [1]:
# Import Library

import pickle
import json
import pandas as pd
import numpy as np

# 2. Load Model

In [2]:
# load the combined pipeline
with open('pipeline.pkl', 'rb') as file:
    pipeline = pickle.load(file)

# load the list of numeric columns
with open('normal_dist.json', 'r') as file:
    normal_dist = json.load(file)

with open('skewed_dist.json', 'r') as file:
    skewed_dist = json.load(file)

# load the list of categorical columns (object type)
with open('cat_cols.json', 'r') as file:
    cat_cols = json.load(file)

# load the list of categorical columns (number type)
with open('cat_num_cols.json', 'r') as file:
    cat_num_cols = json.load(file)

with open('columns_to_drop.json', 'r') as file:
    columns_to_drop = json.load(file)

# Load data inference

In [3]:
data_inf =  pd.read_csv('application_test.csv')

# Prediksi

In [4]:
y_pred = pipeline.predict(data_inf)
y_pred

array([0, 1, 0, ..., 0, 0, 1], dtype=int64)

# Hasil Prediksi

In [5]:
data_inf["TARGET"] = y_pred
data_inf

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,TARGET
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0,1
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0,0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0,0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48739,456221,Cash loans,F,N,Y,0,121500.0,412560.0,17473.5,270000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,0
48740,456222,Cash loans,F,N,N,2,157500.0,622413.0,31909.5,495000.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0
48741,456223,Cash loans,F,Y,Y,1,202500.0,315000.0,33205.5,315000.0,...,0,0,0,0.0,0.0,0.0,0.0,3.0,1.0,0
48742,456224,Cash loans,M,N,N,0,225000.0,450000.0,25128.0,450000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,0
48743,456250,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,...,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0,1